:root{
    --fontTitulo:"DM Serif Text", serif; /*Italic o Regular*/
    --fontTitulo1:"Atma", serif; 
    --fontPrimaria:"Plus Jakarta Sans";
    --colorPrimario:#33aec0
}
h1,h2,h3,h4,h5,p,label,input,a{
    font-family: var(--fontPrimaria);
}

.fontP{
    font-family: var(--fontPrimaria);
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mt-10{
    margin-top: 10rem;
}
  

/* HEADER */
.titulo{
    font-family: var(--fontTitulo1);
    font-weight: 500;
    font-style: italic;
    color: #000;
}
.bg-header{
    background-color: var(--colorPrimario);
}

/* FIN HEADER */

.contenedor-carrito-img{
    transition: transform .2s;
}
.img-carrito{
    width: 30px;
    height: 30px;
}
.contenedor-carrito-img:hover{
    transform: scale(1.1);
}

/* productos */
.img-product{
    height: 400px;
    object-fit: cover;
}


/* FOOTER */
.footer{
    max-height: 200px;
}
.img-logo{
    width: 50px;
    height: 50px;
}
.iconos{
    color: #000;
    font-size: 25px;
    transition: all .2s;
}
.iconos:hover{
    color: #1d1d1d;
    transform: scale(1.1);
}
/* FIN FOOTER */